<div class="row">
  <div class="col-md-6 offset-md-3 col-xs-12 mt-5">
    <div class="card">
      <div class="car-header bg-info">Pakeisti slaptazodi</div>
      <div class="card-body">
        <form #f="ngForm">
          <div class="mb-3">
            <label class="form-label">Naujas Slaptazodis</label>
            <input #pass type="password" class="form-control" ngModel name="password" minlength="6" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Pakartoti Nauja Slaptazodis</label>
            <input #repas type="password" class="form-control" ngModel name="repassword" minlength="6" required>
          </div>
          <button [disabled]="pass.value!=repas.value" type="submit" class="btn btn-info" (click)="changePasswordd(f)">Pakeisti</button>
        </form>
      </div>
    </div>
  </div>
</div>

