<div class="card">
  <div class="card-header bg-danger">Uzregistruotu vaiku lentele</div>
  <div class="card-body bg-success">
    <table class="class col-md-12">
      <thead class="btn-success">
        <tr class="bg-danger">
          <th>Vardas</th>
          <th>Pavarde</th>
          <th>Gimimo metai</th>
          <th>Vaiko lytis</th>
          <th>El.pastas</th>
          <th>Telefono numeris</th>
          <th>Klase</th>
          <th>Veiksmai</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of childrenReg" class="bg-warning">
          <td>{{ data.name }}</td>
          <td>{{ data.surname }}</td>
          <td>{{ data.year }}</td>
          <td>{{ data.gender }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.klass }}</td>
          <td><a [routerLink]="['/registrationEdit',data.id]" class="btn btn-info">Redaguoti</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
